html {
    --md-tile-margin: 16px;
    --md-tile-size: 112px;
    --md-tile-width: 112px;
    --md-tile-padding-bottom: 10px;
    --md-tile-padding-horizontal: 4px;
    --md-tile-padding-top: 16px;
    --md-menu-size: 12px;
    --column-count: 4;
    --shortcut-column-count: 6;
    --content-width: calc( (var(--column-count) * (var(--tile-width) + var(--tile-margin))) /* We add an extra pixel because rounding errors on different zooms can * make the width shorter than it should be. */ + 1px);
    --shortcuts-width: calc(var(--shortcut-column-count) * var(--md-tile-size));
    --logo-height: 200px;
    --logo-margin-top: 56px;
    --logo-margin-bottom: 29px;
    --logo-iframe-initial-height: var(--logo-height);
    --logo-iframe-height: var(--logo-height);
    --logo-iframe-resize-duration: 150ms;
    --logo-iframe-width: 500px;
    --tile-height: 128px;
    --tile-margin: 16px;
    --tile-width: 154px;
    --mv-notice-time: 10s;
    --text-color: #000;
    --text-color-light: #fff;
    --text-color-link: rgb(102, 140, 207);
    --radius-size: 22px;
    --icon-size: 24px;
    --dialog-height: 230px;
    --dialog-width: 400px;
}

/* body样式 */
body{
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size:cover;
}

#dialog-allscreen{
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 990;
    display: none;

}

#dialog-allscreen-setitem{
    opacity: 1;
    background: rgb(61, 59, 59);
    height: var(--dialog-height);
    width: var(--dialog-width);
    top: calc(50% - var(--dialog-height)/2);
    left: calc(50% - var(--dialog-width)/2);
    position: fixed;
    border-radius: 10px;
}

#dialog-title{
    color: whitesmoke;
    font-size: 15px;
    line-height: 24px;
    margin: 10px;
}

#edit-form{
    display: block;
    margin: 10px;
}

.field-container{
    margin-bottom: 16px;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.input-container{
    position: relative;
}

.field-title{
    color: rgb(var(--GG400-rgb));
}

.field-input{
    background-color: black;
    caret-color: rgb(var(--GB300-rgb));
    color: rgb(var(--GG200-rgb));
    cursor: text;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    line-height: 1.6;
    min-height: 32px;
    outline: none;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    width: calc(100%);
}

.underline{
    border-bottom: 2px solid rgb(var(--GB600-rgb));
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 120ms ease-out, width 0ms linear 180ms;
    width: 0;
}

.err-msg{
    display: none;
    font-size: 10px;
    font-weight: 400;
    margin-top: 6px;
}
.dialog-button{
    border: 1px solid rgb(255,255,255);
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    min-height: 32px;
    padding: 0 16px;
    position: relative;
    transition-duration: 200ms;
    transition-property: background-color, color, box-shadow, border;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

#title{
  
}

#title-field-name{
    color: whitesmoke;
}

#title-field{
    color: whitesmoke;
}

#url{

}

#url-field-name{
    color: whitesmoke;
}

#url-field{
    color: whitesmoke;
}

#invalid_url{
    
}

#delete{
    text-align: center;
    align-items: flex-start;
}

#cancel{
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    margin-inline-end: 8px;
}

#submit{
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}

#homepage{
    position: relative;
}

/* logo部分 */
#logo{
    /*background: rgb(205, 0, 0);*/
    height: calc(var(--logo-height) + var(--logo-margin-bottom));
    margin-top: var(--logo-margin-top);
    min-height: fit-content;
    position: relative;
}

#logo-image{
    background: url("../img/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: var(--logo-margin-bottom);
    height: 92px;
    left: calc(50% - 275px/2);
    position: absolute;
    width: 275px;
}

/* 搜索部分 */
#search{
    min-width: 410px;
    margin: 0 auto 0 auto;
    width: var(--content-width);
}

#search-box{
    background: #fff;
    border-radius: var(--radius-size);
    cursor: text;
    font-size: 18px;
    height: 44px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 560px;
    opacity: 1;
    position: relative;
}

#search-box-icon{
    -webkit-mask-image: url("../img/search.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background: var(--icon-size) var(--icon-size) rgb(117, 117, 117);
    bottom: 0;
    height: var(--icon-size);
    left: 0;
    margin: auto 0;
    margin-inline-start: 16px;
    position: absolute;
    top: 0;
    width: var(--icon-size);
}

#search-box-input{
    top: 0;
    bottom: 0;
    left: calc(var(--icon-size) + var(--radius-size));
    right: calc(var(--icon-size) + var(--radius-size));
    font-size: 16px;
    height: 21px;
    width: calc(100% - calc(var(--icon-size) + var(--radius-size))*2);
    border-style: none;
    outline:none;
    margin: auto 0;
    line-height: 21px;
    overflow: hidden;
    position: absolute;
    text-align: initial;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search-box-switch{
    background: #fff;
}

#common-page{
    z-index: -1;
    margin-top: 22px;
    text-align: -webkit-center;
    user-select: none;
    height: calc(2*(var(--md-tile-size) + var(--md-tile-margin)) + 10px);
    position: relative;
    padding: 10px 6px 0;
    position: static;
    text-align: -webkit-auto;
    user-select: none;
}

#common-pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px 6px 0;
    position: static;
    width: calc(6*(var(--md-tile-size) + var(--md-tile-margin)));
    height: calc(2*(var(--md-tile-size) + var(--md-tile-margin)) + 10px);
    margin: 0 auto;
    text-align: -webkit-auto;
}

.common-page-item{
    cursor: pointer;
    position: relative;
    height: var(--md-tile-size);
    width: var(--md-tile-size);
    margin: var(--md-tile-margin);
}

.common-page-item-select{
    cursor: pointer;
    position: relative;
    height: var(--md-tile-size);
    width: var(--md-tile-size);
    margin: var(--md-tile-margin);
    border: 0.5px solid white;
}

.common-page-item-modify{
    background: url("../img/modify.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    display: none;
}

.common-page-item-icon{
    border-radius: 4px;
    top: 26px;
    left: 26px;
    height: 60px;
    width: 60px;
    position: absolute;
    cursor: pointer;
}

.common-page-item-icon img{
    border-radius: 40px;
    background: #fff;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.common-page-item-label{
    top: 96px;
    left: 0px;
    height: 16px;
    width: 112px;
    position: absolute;
    cursor: pointer;
}

.common-page-item-label span{
    border-radius: 8px;
    background: #fff;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height:16px;
    cursor: pointer;
}