html {
    --md-tile-margin: 16px;
    --md-tile-size: 112px;
    --column-count: 4;
    --shortcut-column-count: 5;
    --content-width: calc( (var(--column-count) * (var(--tile-width) + var(--tile-margin))) /* We add an extra pixel because rounding errors on different zooms can * make the width shorter than it should be. */ + 1px);
    --shortcuts-width: calc(var(--shortcut-column-count) * var(--md-tile-size));
    --logo-height: 200px;
    --logo-margin-top: 56px;
    --logo-margin-bottom: 29px;
    --logo-iframe-initial-height: var(--logo-height);
    --logo-iframe-height: var(--logo-height);
    --logo-iframe-resize-duration: 150ms;
    --logo-iframe-width: 500px;
    --tile-height: 128px;
    --tile-margin: 16px;
    --tile-width: 154px;
    --mv-notice-time: 10s;
    --text-color: #000;
    --text-color-light: #fff;
    --text-color-link: rgb(17, 85, 204);
    --radius-size: 22px;
    --icon-size: 24px;
    height: 100%;
}

/* body样式 */
body{
    /* 加载背景图 */
    background: url("../img/test.jpg");
    /* 背景图垂直、水平均居中 */
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size:cover;
}

/* logo部分 */
#logo{
    /*background: rgb(205, 0, 0);*/
    height: calc(var(--logo-height) + var(--logo-margin-bottom));
    margin-top: var(--logo-margin-top);
    min-height: fit-content;
    position: relative;
}

#logo-image{
    background: url("../img/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: var(--logo-margin-bottom);
    height: 92px;
    left: calc(50% - 275px/2);
    position: absolute;
    width: 275px;
}

/* 搜索部分 */
#search{
    min-width: 410px;
    margin: 0 auto 0 auto;
    width: var(--content-width);
}

#search-box{
    background: #fff;
    border-radius: var(--radius-size);
    cursor: text;
    font-size: 18px;
    height: 44px;
    line-height: 36px;
    margin: 0 auto;
    max-width: 560px;
    opacity: 1;
    position: relative;
}

#search-box-icon{
    -webkit-mask-image: url("../img/search.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background: var(--icon-size) var(--icon-size) rgb(117, 117, 117);
    bottom: 0;
    height: var(--icon-size);
    left: 0;
    margin: auto 0;
    margin-inline-start: 16px;
    position: absolute;
    top: 0;
    width: var(--icon-size);
}

#search-box-input{
    top: 0;
    bottom: 0;
    left: calc(var(--icon-size) + var(--radius-size));
    right: calc(var(--icon-size) + var(--radius-size));
    font-size: 16px;
    height: 21px;
    width: calc(100% - calc(var(--icon-size) + var(--radius-size))*2);
    border-style: none;
    outline:none;
    margin: auto 0;
    line-height: 21px;
    overflow: hidden;
    position: absolute;
    text-align: initial;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search-box-switch{
    background: #fff;
}

#common-page{
    z-index: -1;
    margin-top: 22px;
    text-align: -webkit-center;
    user-select: none;
    height: calc(2*(var(--md-tile-size) + var(--md-tile-margin)) + 10px);
    position: relative;
    padding: 10px 6px 0;
    position: static;
    text-align: -webkit-auto;
    user-select: none;
}

#common-pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 10px 6px 0;
    position: static;
    width: calc(6*(var(--md-tile-size) + var(--md-tile-margin)));
    height: calc(2*(var(--md-tile-size) + var(--md-tile-margin)) + 10px);
    margin: 0 auto;
    text-align: -webkit-auto;
}

.common-page-item{
    background: #aaa;
    height: var(--md-tile-size);
    width: var(--md-tile-size);
    margin-top: var(--md-tile-margin);
    margin-left: calc(var(--md-tile-margin)/2);
    margin-right: calc(var(--md-tile-margin)/2);
}